body {
  background-color: #eee;
  text-align: center;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

main, footer {
  margin: 0 auto;
  max-width: 700px;
  text-align: left;
}

footer {
  font-size: 80%;
  margin: 1rem auto;
  text-align: right;
}

textarea {
  width: 100%;
}

button {
  height: 2rem;
  margin: 1rem 0;
  width: 100%;
}

#output {
  background-color: white;
  display: block;
  font-family: monospace;
  padding: 0;
}

#output span {
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  box-sizing: border-box;
  display: block;
  padding: 0.5rem 0;
  width: 100%;
}

.added {
  background-color: rgb(255, 200, 200);
}

.correct {
  background-color: rgb(200, 255, 200);
}

.removed {
  background-color: white;
}

.exception {
  background-color: rgb(244, 200, 66);
}

.correct:before {
  content: "✓ ";
}

.added:before {
  content: "✗ ";
}

.removed:before {
  content: "  ";
}

.exception:before {
  content: "⚠ ";
}

.celebration {
  color: darkgreen;
  font-size: 400%;
  text-align: center;
}

.nanoModal.nanoModalOverride, .nanoModalOverlay.nanoModalOverride {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.locks {
  width: 1.5rem;
}

.lock {
  text-align: center;
  width: 1.5rem;
  color: red;
}

.hidden {
  display: none;
}

#diploma {
  background: white;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

#stars {
  display: block;
  font-size: 400%;
  text-align: center;
}

#hints {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

#hints li:last-child {
  margin-bottom: 1rem;
}

#hints li:before {
  content: '❔  ';
}
