body {
  background-color: #eee;
  text-align: right;
}

main {
  margin: 0 auto;
  max-width: 700px;
  text-align: left;
}

textarea {
  width: 100%;
}

button {
  height: 2rem;
  margin: 1rem 0;
  width: 100%;
}

#readout {
  background-color: white;
  display: block;
  font-family: monospace;
  padding: 0;
}

#readout span {
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  box-sizing: border-box;
  display: block;
  padding: 0.5rem 0;
  width: 100%;
}

.added {
  background-color: rgb(200, 255, 200);
}

.added:before {
  content: "+ ";
}

.removed {
  background-color: rgb(255, 200, 200);
}

.removed:before {
  content: "- ";
}
